
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  min-height: 100%;
}

body {
  padding: 0;
  margin-bottom: 60px;
  background-image: url('../images/geometry2.png');
}

.search {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.search-input {
  font-weight: 400;
  font-size: 18px;
  width: 60%;
  padding: 10px;
}

.ticket-well-container-scroll {
  overflow-y: hidden;
  overflow-x: scroll;
}

.ticket-well-panel-scroll {
  width: 150%;  /* Adjust to taste */
  overflow-y: hidden;
  overflow-x: scroll;
}

.title-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.title {
  cursor: default;
  font-family: 'Bree Serif';
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  position: fixed;
  background-color: #f5f5f5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
