        <div ng-include="'/views/ticketDetail.html'"></div>
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">tiquet.me</a>
            </div>
          <ul class="nav navbar-nav">
            <li><a  class="fa fa-plus repo-create"
                   data-toggle="modal" data-target="#repoCreateModal"></a></li>
          </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        {{user.displayName }} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Username/Repository Input Field -->
                    <form ng-show="repositoryCount <= 0" class="search ng-pristine ng-valid focus" id="searchInput" ng-submit="search()">
                        <h3>You haven't added any repos yet! Let's get started.</h3>
                        <div class="input search">
                            <input class="search-input ng-pristine ng-valid ng-touched" type="text" ng-change="repoInputUpdate()" ng-model="repositoryName" placeholder="Enter username/repositoryname" autocomplete="off">
                        </div>
                    </form>
                    <div class="chat-panel panel panel-default ticket-well-container-scroll" ng-show="repositoryCount > 0" ng-repeat="project in repositories">
                        <div class="row panel-heading scroll-width">
                            <div class="col-md-7">{{project.id}}: {{project.name}}</div>
                            <div class="col-md-1 text-right"><span data-toggle="modal" data-target="#ticketCreateModal" class="ticket-new-button fa fa-plus"></span></div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body ticket-well-panel-scroll">
                            <div class="col-lg-2 col-md-6"
                                 ng-repeat="ticket in project.tickets"
                              ng-click="open(ticket)">

                                <div class="panel panel-green ticket-shell" data-toggle="modal"
                                     data-target="#ticketDetail"
                                     ng-class="{'ticket-closed':ticket.state === 'closed'}">
                                    <div class="panel-heading" ng-class="{'ticket-closed':ticket.state === 'closed'}">
                                        <div class="row" ng-class="{'ticket-closed':ticket.state === 'closed'}">
                                            <div class="col-xs-10 text-left">
                                                <h4>{{ticket.id}}: {{ticket.title}}</h4>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-footer">
                                        <p>{{ticket.state}}</p>
                                        <p>{{ticket.assignee.email}}</p>
                                        <p>{{ticket.body}}</p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="ticketCreateModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create a ticket.</h4>
              </div>
              <div class="modal-body">

                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">Title</span>
                  <input type="text" class="form-control"
                         placeholder="Fix this" ng-model="newTicketTitle"
                         aria-describedby="basic-addon1">
                </div>
                <br>
                <div class="input-group">
                  <span class="input-group-addon">Description</span>
                  <input type="text"
                         placeholder="Wow. This is incredibly broken."
                         class="form-control"
                         ng-model="newTicketDescription">
                </div>
                <br>
                <div class="input-group">
                  <span class="input-group-addon">Assignee</span>
                  <input placeholder="dankrutz@aol.com" type="text"
                  class="form-control"
                         ng-model="newTicketAssignee">
                </div>
                <br>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-success active">
                    <input type="checkbox" name="options" id="option1" autocomplete="off" ng-model="newTicketLabel.option1" checked>
                    <span class="fa fa-tag"> Feature</span>
                  </label>
                  <label class="btn btn-danger">
                    <input type="checkbox" name="options" id="option2" autocomplete="off" ng-model="newTicketLabel.option2">
                    <span class="fa fa-tag"> Bug</span>
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" name="options" id="option3" autocomplete="off" ng-model="newTicketLabel.option3">
                    <span class="fa fa-tag"> Backend</span>
                  </label>
                  <label class="btn btn-warning">
                    <input type="checkbox" name="options" id="option4" autocomplete="off" ng-model="newTicketLabel.option4">
                    <span class="fa fa-tag"> Frontend</span>
                  </label>
                  <label class="btn btn-default">
                    <input type="checkbox" name="options" id="option5" autocomplete="off" ng-model="newTicketLabel.option5">
                    <span class="fa fa-tag"> Potato</span>
                  </label>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal" ng-click="createTicket()">Save
                  changes</button>
              </div>
            </div>
          </div>
        </div>



        <div class="modal fade" id="repoCreateModal" tabindex="-1" role="dialog"
             aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create a repo.</h4>
              </div>
              <div class="modal-body">

                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">Repo
                    name</span>
                  <input type="text" class="form-control"
                         placeholder="bettystamos/johnwhite"
                         ng-model="newRepoName"
                         aria-describedby="basic-addon1">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal" ng-click="createRepo()">Create!
                </button>
              </div>
            </div>
          </div>
        </div>
